{% extends 'theme.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Login</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}
    {% if instance.image %}
    <img src="{{ instance.image.url }}" alt="Current Image" style="max-width: 200px; max-height: 200px;">
    {% endif %}
    <br>
    <button type="submit" class="btn btn-success ">Login</button>
    <button type="register" class="btn btn-danger">Register</button>
</form>
{% endblock %}